@import "base";

.form_title{
    font-family: "Noto Sans TC", '微軟正黑體' ,'黑體-繁', '新細明體', sans-serif;
    font-size: 24px;
    margin-left: 15px;
    color: #394a59;
}

.last_page{
    color: white;
    position: absolute;
    right: 30px;
    top: 25px;
}

.change_password{
    font-family: "Noto Sans TC", '微軟正黑體' ,'黑體-繁', '新細明體', sans-serif;
    color: #bf4f47;
    font-size: 16px;
}

.btn_toogle{
    width: 20px;
    height: 20px;
    border-radius: 10%;
    border: none;
    background-color: #688a7e;
    margin-left: 10px;
    margin-right: 5px;
    color: white;
}



// piggy_push

.member_banner{
    width: 100%;
    min-height: 450px;
    background-image: url(../images/member_banner_2.png);
    background-size: cover;
    background-position: center;

    @include susy-breakpoint($desktop-x){
        margin-top: 0px;
    }
    @include susy-breakpoint($max-pad){
        background-image: url(../images/member_banner_mobile.png);
        background-size: contain;
        min-height: 500px;
    }
    @include susy-breakpoint($pad_screen){
        background-size: cover;
    }
    @include susy-breakpoint($smaill_screen){
        background-size: cover;
        min-height: 450px;
    }
}

.push_btn{
    background-color: transparent;
    border: none;
    line-height: 60px;
}


.pay_detail{

    margin-top: 15px;

    .refer{
        float: right;
    }

    li{
        float: left;
        
    
         a{     
            width: 165px;
            line-height: 45px;
            height: 45px;
            color: #5f5f5f;
            font-size: 14px;
            background-color: #fff;
            border: 1px solid #ddd;
            display: inline-block;
            text-align: center;

            span{
                width: 100%;
                display:inline-block;
            }

            &.active, &:hover{

                span{
                    color: #fff;
                    background-color: #01c1de;
                }
            }
        }
    }
}


.keywords{
    width:100%;
    margin-top: 50px;

    .title_tr{
        border-left: 1px solid #ddd;
        border-right: 1px solid #ececec;
        background-color:  #ececec;

        th{
            padding: 15px 5px 15px 5px;
            font-weight: bold;
            color: #666;
            font-size: 15px;
            
        }

        td{
            padding: 10px 5px 10px 5px;
            background-color:  #fff;
            border-bottom: 1px solid #ececec;
            font-size: 15px;
        }

    }


}

.push_lightbox{
    padding: 30px;
    padding-top: 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51, 0.85);
    z-index: 9999;
    overflow-y: scroll;

    .contract_info{
        border-radius: 10px;
        padding: 15px;
        padding-top: 30px;
        position: relative;
        display: block;
        background-color: #fff;

        h2{
            font-size: 20px;
            font-weight: bold;
            color: rgb(22, 65, 105);
        }

        p{
            margin-bottom: 20px;
        }

        button{
            font-size: 18px;
            border: none;
            background-color: #fff;
            position: absolute;
            right: 20px;
            top: 30px;
            outline: none;
            &:hover{
                color: rgb(12, 146, 167);
            }
        }

        .close{

            @include susy-breakpoint($iphone){
                display: none;
            }

        }

        .close_phone{
            display: none;
            @include susy-breakpoint($iphone){
                display: block;
                top: 5px;
                right: 10px;
                font-size: 25px;
            }

        }
    }
}

.radio_list{
    padding:0;
    margin:0;
    li{
        float:left;
        width:100%;
        margin-bottom:15px;
        
        font-size:17px;
        font-weight: bold;
        list-style-type:none; 
        label{
            display:block;
            input[type="input"]{
                display:none;
            }
            input[type="input"]:checked + .radio_box{
                border:1px solid rgb(89, 175, 255);
            }
        }
        &.half{
            display:inline-block;
            
        }
        .radio_box{            
            border:1px solid #777;
            box-sizing: border-box;
            display:block;            
            border-radius: 20px;        
            background:#f9fafb;
            padding:15px;
        }
    }
}


.color_white{
    width: 95%;
    height: 5px;
    position: absolute;
    background: #fff;
}