@charset "utf-8";


.clear {
    clear: both;
    line-height: 0;
    height: 0;
    font-size: 0;
}


.slides_control p {
  font-family: "Microsoft JhengHei";
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 26px;
}



/*banner*/

#banner-box {
    margin: 0px auto;
    height: 700px;
    overflow: hidden;
    position: relative;
    padding-top: -40px;
}

.banner-inner {
    height: 65px;
    margin: 0px auto
}

.banner-nav-abs {
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 3;
    min-width: 1200px;
}

.banner-nav-abs-opac {
    position: absolute;
    width: 100%;
    height: 78px;
    left: 0px;
    bottom: -22px;
    z-index: 2
}

.banner-nav-fix {
    position: fixed;
    left: 0px;
    top: 82px;
    z-index: 3
}

.banner-nav {
    width: 100%
}

.banner-nav ul {
    width: 1200px;
    margin: 0px auto
}

.banner-nav li {
    float: left;
    display: inline;
    width: 112px;
    height: 65px;
    font-size: 14px;
    padding: 5px 43px 0px 43px;
    cursor: pointer;
    position: relative;
    margin: 0px 1px
}

.banner-nav li div {
    width: 110px;
    height: 65px;
    padding: 5px 43px 0px 43px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 5;
    background: #fff;
    filter: alpha(opacity=20);
    -moz-opacity: 0.2;
    -khtml-opacity: 0.2;
    opacity: 0.2
}

.banner-nav li a span {
    display: block;
    height: 36px;
    width: 60px;
    margin: 3px auto 0px auto;
    background: url(../img/icon-banner.png) no-repeat;
}

.banner-nav li a.bg1 span {
    background-position: 15px 2px
}

.banner-nav li a.bg2 span {
    background-position: -53px 2px
}

.banner-nav li a.bg3 span {
    background-position: -110px 2px
}

.banner-nav li a.bg4 span {
    background-position: -174px 2px
}

.banner-nav li a.bg5 span {
    background-position: -235px 2px
}

.banner-nav li a.bg6 span {
    background-position: -297px 2px
}

.banner-nav li a {
    display: block;
    float: left;
    position: absolute;
    left: 0px;
    top: 0px;
    color: #fff;
    z-index: 6;
    padding: 5px 43px 0px 43px;
    display: inline;
    width: 110px;
    height: 65px;
    padding-top: 5px;
    text-align: center
}

.banner-nav li.current {
    cursor: default
}

.banner-nav li.current div {
    width: 95px;
    height: 95px;
    background: none;
}

.banner-nav li.current a {
    color: #333;
    cursor: default;
    background: #eee;
}

.banner-nav li.current a.bg1 span {
    background-position: 15px -32px
}

.banner-nav li.current a.bg2 span {
    background-position: -53px -32px
}

.banner-nav li.current a.bg3 span {
    background-position: -110px -32px
}

.banner-nav li.current a.bg4 span {
    background-position: -174px -32px
}

.banner-nav li.current a.bg5 span {
    background-position: -235px -32px
}

.banner-nav li.current a.bg6 span {
    background-position: -297px -32px
}

.banner-list {
    position: absolute;
    height: 700px;
    position: absolute;
    z-index: 2;
    overflow: hidden;
    width: 100%
}

.banner-list li {
    width: 100%;
    height: 700px;
    text-align: center;
    float: left;
    display: inline-block
}

.banner-list li .animate-box {
    width: 1200px;
    margin: 0px auto;
    position: relative
}

.banner-list li .animate-box .t-d {
    position: absolute;
    max-width: 570px;
    left: 20px;
    top: 200px;
}

.banner-list li .animate-box .t-d h2 {
    display: block;
    margin: 0px;
    padding: 0px;
     font-family: "Microsoft JhengHei";
    font-size: 36px;
    text-align: left;
    color: #fff;
    font-weight: 700;
}

.banner-list li .animate-box .t-d p {
    color: #fff;
    padding: 10px 0px 0 0;
    line-height: 24px;
    left: 20px;
    text-align: left;
    font-size: 18px;
}
.index-section1-banner{
    position: absolute;
    max-width: 500px;
    left: 220px;
    right: 0;
    top: 250px;
    text-align: center;
    padding: 5px;
    margin: 5px;
    background-color: rgba(255,255,255,0.6);
    border-radius: 20px;
    box-shadow: 10px 8px #888888;
}
.index-section1-banner h2{
    display: block;
    margin: 0px;
    padding: 0px;
     font-family: "Microsoft JhengHei";
    font-size: 55px;
    text-align: center;
    font-weight: 700;
}
.index-section1-banner p{
    padding: 10px 0px 0 0;
    font-size:20px;
    line-height: 28px;
    left: 20px;
    margin-top: 15px;
}

.banner-list li .animate-box .animate-img {
    position: absolute;
    top: 50px;
    right: 0px
}

.slider-btn {
    width: 100px;
    height: 30px;
    background: #fff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    color: #444;
    display: block;
}

.slider-btn:hover {
    color: #fff;
    background: #c80106;
}


/* .enter_more2 {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 1px solid #fff;
    margin-top: 50px;
    position: absolute;
    left: 0px;
    right: 0px;
    margin: auto;
    bottom: 20px;
} */

.enter_more2 i {
    color: #fff;
    /* transform: rotate(90deg); */
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -moz-transform: rotate(90deg);
    /* Firefox */
    /* -webkit-transform: rotate(90deg); */
    /* Safari 和 Chrome */
    -o-transform: rotate(90deg);
    /* margin-top: 4px; */
}

.btbt{ margin-top: 50px; }


@media screen and (max-width: 576px) {
    .slides_control li {
        background: url(banner/img/1.jpg);
      /*   width: 385px!important; */
        background-position: -500px 0px!important;

        background-size: cover!important;
        background-attachment: initial!important;
    }

    .banner-list li {
        width: 100% !important;
        height: 600px;
        text-align: center;
        float: left;
        display: inline-block;
    }
    .banner-list li .animate-box{
        width: 100%;
    }    

    .banner-list {
        height: 600px;
    }

    #banner-box {
        height: 600px;
    }

    .banner-list li .animate-box .t-d h2 {
        width: 100%;
        font-size: 30px;
    }
    .banner-list li .animate-box .t-d p {
        padding: 0px;
    }

    .banner-list li .animate-box .t-d {
        position: absolute;
        max-width: 450px;
        left: 20px!important;
        top: 200px;
    }
    .index-section1-banner{
        position: absolute;
        max-width: 450px;
        top: 200px;
        margin: 10px;
        left: 0px;
        text-align:center;
        box-shadow: 5px 5px #888888;
    }
    .index-section1-banner h2{
        font-size: 30px;
    }
    .index-section1-banner p{
        width: 100%;
    }
 
}


@media screen and (max-width: 350px) {
    
    .banner-list li .animate-box .t-d h2{    width: 70%!important;}


    .banner-list li .animate-box .t-d p{  width: 64%!important;}
}