.b-about-bg {
    background-image: url(../banner/img/24.jpg) !important;
    background-color: #3584c7 !important;;
    background-position: bottom 0 right 70% !important;;    
    background-size: 100% !important;;
    background-repeat: no-repeat;
} 
 .sub_nav {
     height: 60px;
     border-bottom: 1px solid #585858;
     line-height: 58px;
 }


 .f14pd20 {
     font-size: 12px;
     line-height: 25px;
     padding: 20px;
     background-color: #d3d3d3;
     color: #2c2e2d;

     min-height: 300px;
 }

 .big_title {
     font-size: 13px;
       color: #565656;
     
     padding-bottom: 5px
 }

 .s_text {
     font-weight: bold;
     font-size: 14px;
      color: #333;
   
    
 }




 #sub-nav {
     position: relative;
 }

 .sub_nav ul {
    width: 480px;
    margin: auto;
    text-align: center;
 }

 .sub_nav ul li {
     display: inline-block;
     margin-right: 20px;
 }


 .sub_nav ul li a {
     display: block;
     font-size: 14px;
     color: #fff;
     opacity: 0.8;
     line-height: 53px;
 }

 #wrap {
     margin-bottom: 53px;
 }


 #banner-box {
     margin: 0px auto;
     height: 480px;
     overflow: hidden;
     position: relative;
     padding-top: -40px;
 }

 .banner-list {
     height: 480px;
 }

 .banner-list li {
     height: 480px;
 }


 /* .sub_nav ul {
     width: 137px;
     margin: auto;
 } */


 .sub_nav {
     background: #424242
 }

 .banner-list li .animate-box .t-d {
     position: absolute;
     max-width: 450px;
     left: 20px;
     top: 180px;
 }

  


 .sub_nav li:last-child {
     margin-right: 0px;
 }

 .text_other {
     width: 100%;
     padding:0 0 80px 0 ;
 }
 .text_other2{
     width: 100%;
     padding:100px 0 0 0;
 }

 .about_bg {
     /* background: url(../images/about1_1.jpg) no-repeat left 100% ; */
     background-color: #aba8a8;
     width: 100%;
     /* height: 430px; */
 }

 .about_0 {

     width: 100%;
 }

 .pd0 {
     padding-right: 0px;
     padding-left: 0px;
 }


 .bg1 {
     height: auto!important;
     min-height: 390px;
 }


 .bg_gary {
     height: auto!important;
     min-height: 200px;
     background: #d3d3d3;
 }
.about-bg1{
    background: #eabb65 ;
    /* background-image: url(/images/1bg.jpg) ; */
    background-position: 0px -40px;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto!important;
    min-height: 390px;
}
.stitle_2{
    color: #424242;
    margin-bottom: 10px;
    font-size: 14px;
    font-family: "Microsoft JhengHei";
}
.title1{
    margin-bottom: 35px;
}
.title2{
    margin-bottom: 15px;
    font-size: 28px;
    font-family: "Microsoft JhengHei";
    font-weight: 700;
}
.title3{
    margin-bottom: 30px;
    font-size: 28px;
    font-family: "Microsoft JhengHei";
    font-weight: 700;
    color: #272828;
    display: block;
}
.title4{
    margin-bottom: 10px;
    font-size: 28px;
    font-family: "Microsoft JhengHei";
    font-weight: 700;
    color: #272828;
    display: block;
}
.title3::after{
    content: '';
    display: block;
    width: 80px;
    height: 1px;
    background: #272828;
    margin: 20px auto auto;
    text-align: center;
}
.title3 span{
    font-size: 24px;
    font-weight: 400;
}
.cop_year::before{
    content: '';
    clear: both;
    display: block;
    position: absolute;
    margin-top:-20px;
    width: 50px;
    height: 1px;
    background:#1d1d1da7;
}
.cop_year{
    display: block;
    position: relative;
    font-size: 18px;

}
.cop_text{
    font-size: 14px;
    padding-top: 10px;
    line-height: 26px;
    color: #3a3a3a;
    font-family: "Microsoft JhengHei";
}
.ul-about::before{
    content: '';
    clear: both;
    display: block;
    position: absolute;
    top: 0;
    width: 50px;
    height: 1px;
    background:#1d1d1da7;
}
.ul-about{
    display: block;
    width: 100%;
    padding: 25px 0 60px 0;
    position: relative;

}
.ul-about li{
    display: inline-block;
    width: 48%;
    margin:0 0 40px 0;
}
.ul-about li h3{
    font-size: 18px;
    font-weight: 600;
    color: #272828;
    margin-bottom: 6px;
}
.ul-about li p{
    font-size: 12px;
    color: #272828af;
}
.text_bg3{
    background-image: none !important;
    padding-bottom: 0 !important;
}
.service_jpg{
    background-image: none;
    background-color: #5c9bd1;
}
.about_enter_more {
    width: 160px;
    height: 44px;
    border: 1px solid rgba(255, 255, 255, 0.38);
    margin: 0;
    vertical-align: middle;
    line-height: 42px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    background: transparent;
}
.mouse_row{
    background: url(../images/about_down1.png)  no-repeat 90% 110%;
    height:500px;
    background-size: auto;

}
.mouse_row2{
    background: url(../images/about_down2.png) no-repeat 90% bottom ;
    height:500px;
    background-size: auto;
}
.mouse_row3{
    background: url(../images/about_down3.png)  no-repeat right bottom;
    height:500px;
    background-size: auto;
}
.mouse_row4{
    background: url(../images/about_down4.png) no-repeat right bottom;
    height:500px;
    background-size: auto;
}
.mouse_row:hover .about_enter_more,
.mouse_row2:hover .about_enter_more,
.mouse_row3:hover .about_enter_more,
.mouse_row4:hover .about_enter_more{
    background: #ffb22c;
    border: #ffb22c;
}
 .stitle_3{
    color: #545454 !important;
    margin-bottom: 10px;
} 
@media screen and (max-width: 1180px) {    
    .mouse_row,.mouse_row2,.mouse_row3,.mouse_row4{
        background-size: 75%;
    }

}
@media screen and (max-width: 960px) { 
    .ul-about{
        padding: 20px 0 0 0 ;
    }
    .ul-about li{
        width: 100%;
        margin: 0 0 17px 0;
    }
}
@media screen and (max-width: 768px) {    
    .col-25:first-child {
        width: 100%
    }
    .mouse_row,.mouse_row2,.mouse_row3,.mouse_row4{
        background-size: 44%;
    }
    .group-li .p20{
        padding-top: 50px !important;
    }
    .ul-about li{
        width: 48.5%;
    }
    .about_enter_more {
        width: 138px;
    }

}
@media screen and (max-width: 648px) {
     .sub_nav ul{
        width: 100%;}
    }
    .text_other2 img{width: 100%;}
@media screen and (max-width: 576px) {
     .slides_control li {
         background: url(banner/img/1.jpg);
         /* width: 385px!important; */
         background-position: -315px 100% !important;
         background-size: 100vh!important;
         background-repeat: no-repeat;
         background-attachment: initial!important;
     }
     .mob-display{
         display: none;
     }
     .text_other2{
         padding: 50px 0 0 0;
     }
     .ul-about li{
         display: inline-block;
         width: 46%;
         margin: 10px 0;
     }
     .ul-about li h3{
         font-size: 16px;
     }
     .ul-about li p{
         font-size: 14px;
     }
     .text-center img{
         width: 100%;
     }
     .group-li .p20{
         padding-top: 10% !important;
     }
     .mouse_row,.mouse_row2,.mouse_row3,.mouse_row4{
         background-size: 40%;
     }
     .group-li{
         border-bottom: #fff solid 1px;
     }
     .group-li .cop_1{
         min-height: 100px;
     }
 }
 @media screen and (max-width: 375px) {
    .slides_control li {
        background-position: -330px 100% !important;
    }
 }
 @media screen and (max-width: 360px) {
    .slides_control li {
        background-position: -285px 100% !important;
    }
 }
 @media screen and (max-width: 320px) {
    .slides_control li {
        background-position: -250px 100% !important;
    }
 }
 @media screen and (max-width: 280px) {
    .slides_control li {
        background-position: -315px 100% !important;
    }
 }


