     #keywords thead tr th.headerSortUp,
     #keywords thead tr th.headerSortDown {
         background: #acc8dd;
     }

     .table {
         margin: 0;
     }

     body {
         background-color: #f7f7f7
     }

     #keywords tbody tr {
         color: #555;
     }

     table.tablesorter th {
         outline: none!important;

         text-align: center;

         color: #fff;
     }

     input:focus {
         outline: none!important;
         font-family: "Arial"
     }


     .fcolor {
         color: #ffbb25;
         font-weight: bold;
     }

     .fcolor2 {
         color: #FF8A00;
     }


     .rwd-table td .center {
         text-align: center;
     }

     .title_tr {
         background-color: #00c1de!important;
     }

     .rwd-table tr:hover {

         transition: all 0.3s ease 0s;
         -moz-transition: all 0.3s ease 0s;
         -ms-transition: all 0.3s ease 0s;
         -o-transition: all 0.3s ease 0s;
         -webkit-transition: all 0.3s ease 0s;

         background-color: #f9f9f9;
         cursor: pointer!important;
         border-bottom: 1px solid #ddd;
     }


     table,
     th,
     tr,
     td {
         cursor: pointer
     }


     .fbold {
         font-weight: bold;
         color: #1f1f1f;
     }







     .rwd-table {
         margin: 0;
     }

     .rwd-table tr {

         border-bottom: 1px solid #ececec;
     }

     .rwd-table th {
         display: none;
     }

     .rwd-table td {
         display: block;
     }

     .rwd-table td:first-child {
         padding-top: .5em;
     }

     .rwd-table td:last-child {
         padding-bottom: .5em;
     }

     .rwd-table td:before {
         content: attr(data-th) ": ";
         font-weight: bold;
         width: 6.5em;
         display: inline-block;
     }

     @media (min-width: 480px) {
         .rwd-table td:before {
             display: none;
         }
     }

     .rwd-table th,
     .rwd-table td {
         text-align: left;
     }

     @media (min-width: 480px) {
         .rwd-table th,
         .rwd-table td {
             display: table-cell;
             padding: .25em .5em;
         }





         .rwd-table th:first-child,
         .rwd-table td:first-child {
             /* padding-left: 0;*/
             text-align: center;
         }


         .table thead th {
             border-bottom: 1px solid #dee2e6;
             border-top: 0px;
         }

         .rwd-table th:nth-child(2),
         .rwd-table td:nth-child(2) {


             border-top: 0px;


             border-bottom: 1px solid #dee2e6;
         }


         .rwd-table th:nth-child(5),
         .rwd-table td:nth-child(5) {

             text-align: center;
         }




         .rwd-table th:last-child,
         .rwd-table td:last-child {
             padding-right: 0;
         }
     }



     .rwd-table {

         color: #fff;

         overflow: hidden;
         width: 100%;
     }

     .rwd-table tr {
         background-color: #fff;
     }

     .title_loan {
         padding-bottom: 30px;
         font-size: 28px;
         font-family: "Microsoft JhengHei";
     }

     .top_title {

         background-color: #00c1de!important;
     }

     .rwd-table th,
     .rwd-table td {
         margin: .5em 1em;
     }

     @media (min-width: 480px) {
         .rwd-table th,
         .rwd-table td {
             padding: 1em 5px 1em 5px !important;
             font-size: 14px;
             color: #000;
             text-align: center;
         }
     }

     .rwd-table th,
     .rwd-table td:before {

         font-size: 15px;
     }
     /* ----------上下指標-------- */

     table.tablesorter thead tr .tablesorter-headerUnSorted {
         background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
         background-repeat: no-repeat;
         background-position: center right;
         cursor: pointer;
     }


     table.tablesorter thead tr .tablesorter-headerDesc {
         background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
         background-repeat: no-repeat;
         background-position: center right;
         cursor: pointer;
     }

     table.tablesorter thead tr .tablesorter-headerAsc {
         background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
         background-repeat: no-repeat;
         background-position: center right;
         cursor: pointer;
     }
     /*-----------------btn-------------------*/

     .f_italic {
         font-style: italic;
     }

     .btn_bottom {
         margin-bottom: 5px;
         width: 100%;
         margin-top: 30px;
     }




     .btn_3 {

         display: block;
     }


     .btn_3 a {
         padding: 10px 40px 10px 40px;
         color: #000;
         border: 1px solid #a9a9a9;
         display: block;
         cursor: pointer;
     }



     .btn_3 a:hover {
         display: block;
         padding: 10px 40px 10px 40px;

         color: #fff;
         border: 1px solid #fa8f0b;
         cursor: pointer border: 1px solid #000;
         cursor: pointer;
         /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffaf14+0,f88301+100 */
         background: #ffaf14;
         /* Old browsers */
         background: -moz-linear-gradient(left, #ffaf14 0%, #f88301 100%);
         /* FF3.6-15 */
         background: -webkit-linear-gradient(left, #ffaf14 0%, #f88301 100%);
         /* Chrome10-25,Safari5.1-6 */
         background: linear-gradient(to right, #ffaf14 0%, #f88301 100%);
         /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
         filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf14', endColorstr='#f88301', GradientType=1);
         /* IE6-9 */
     }






     .btn_2 {
         margin-right: 30px;
         display: block;
     }


     .btn_2 a {
         padding: 10px 40px 10px 40px;
         color: #000;
         border: 1px solid #a9a9a9;
         display: block;
         cursor: pointer;
     }



     .btn_2 a:hover {
         display: block;
         padding: 10px 40px 10px 40px;

         color: #fff;
         border: 1px solid #8569cd;
         cursor: pointer border: 1px solid #000;
         cursor: pointer;



         /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8569cd+0,6f8bcc+100 */
         background: #8569cd;
         /* Old browsers */
         background: -moz-linear-gradient(left, #8569cd 0%, #6f8bcc 100%);
         /* FF3.6-15 */
         background: -webkit-linear-gradient(left, #8569cd 0%, #6f8bcc 100%);
         /* Chrome10-25,Safari5.1-6 */
         background: linear-gradient(to right, #8569cd 0%, #6f8bcc 100%);
         /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
         filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8569cd', endColorstr='#6f8bcc', GradientType=1);
         /* IE6-9 */
     }




     .btn_1 {
         display: block;
         margin-right: 0px;
     }


     .btn_1 a {
         display: block;
         padding: 10px 40px 10px 40px;
         color: #000;
         border: 1px solid #a9a9a9;

         cursor: pointer;
     }

     .btn_1 a:hover {
         display: block;
         padding: 10px 40px 10px 40px;

         color: #fff;
         border: 1px solid #58bbd4!important;
         cursor: pointer border: 1px solid #000;
         cursor: pointer;
         /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5998d3+14,59c1d3+97 */
         background: #5998d3;
         /* Old browsers */
         background: -moz-linear-gradient(left, #5998d3 14%, #59c1d3 97%);
         /* FF3.6-15 */
         background: -webkit-linear-gradient(left, #5998d3 14%, #59c1d3 97%);
         /* Chrome10-25,Safari5.1-6 */
         background: linear-gradient(to right, #5998d3 14%, #59c1d3 97%);
         /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
         filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5998d3', endColorstr='#59c1d3', GradientType=1);
     }

     .active_1 a {
         display: block;
         padding: 10px 40px 10px 40px;

         color: #fff;
         border: 1px solid #58bbd4!important;
         cursor: pointer border: 1px solid #000;
         cursor: pointer;
         /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5998d3+14,59c1d3+97 */
         background: #5998d3;
         /* Old browsers */
         background: -moz-linear-gradient(left, #5998d3 14%, #59c1d3 97%);
         /* FF3.6-15 */
         background: -webkit-linear-gradient(left, #5998d3 14%, #59c1d3 97%);
         /* Chrome10-25,Safari5.1-6 */
         background: linear-gradient(to right, #5998d3 14%, #59c1d3 97%);
         /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
         filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5998d3', endColorstr='#59c1d3', GradientType=1);
     }


     .active_3 a {
         display: block;
         padding: 10px 40px 10px 40px;

         color: #fff;
         border: 1px solid #8569cd;
         cursor: pointer border: 1px solid #000;
         cursor: pointer;



         /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8569cd+0,6f8bcc+100 */
         background: #8569cd;
         /* Old browsers */
         background: -moz-linear-gradient(left, #8569cd 0%, #6f8bcc 100%);
         /* FF3.6-15 */
         background: -webkit-linear-gradient(left, #8569cd 0%, #6f8bcc 100%);
         /* Chrome10-25,Safari5.1-6 */
         background: linear-gradient(to right, #8569cd 0%, #6f8bcc 100%);
         /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
         filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8569cd', endColorstr='#6f8bcc', GradientType=1);
         /* IE6-9 */
     }



     .active_2 a {
         display: block;
         padding: 10px 40px 10px 40px;
         text-align: center;

         color: #fff;
         border: 1px solid #fa8f0b;
         cursor: pointer border: 1px solid #000;
         cursor: pointer;
         background: #ffaf14;
         /* Old browsers */
         background: -moz-linear-gradient(left, #ffaf14 0%, #f88301 100%);
         /* FF3.6-15 */
         background: -webkit-linear-gradient(left, #ffaf14 0%, #f88301 100%);
         /* Chrome10-25,Safari5.1-6 */
         background: linear-gradient(to right, #ffaf14 0%, #f88301 100%);
         /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
         filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf14', endColorstr='#f88301', GradientType=1);
         /* IE6-9 */
     }





     .btn_left {
         max-width: 240px;
         float: left;
     }

     .btn_right {

         max-width: 240px;
         float: left;
     }


     .btn_right_R {

         width: 220px;
         float: right;
     }

     .btn_bottom:after {
         content: '';
         display: block;
         clear: both;
     }


     .btn_bottom .btn_right_R:hover {
         transition: all 0.9s ease 0s;
         -moz-transition: all 0.9s ease 0s;
         -ms-transition: all 0.9s ease 0s;
         -o-transition: all 0.9s ease 0s;
         -webkit-transition: all 0.9s ease 0s;
     }







     .circle {
         width: 28px;
         line-height: 28px;
         vertical-align: text-bottom;
         height: 28px;
         display: inline-block;

         border-radius: 50%;
         -moz-border-radius: 50%;
         -webkit-border-radius: 50%;
         text-align: center;
         color: white;
         font-size: 14px;
         text-transform: uppercase;
         font-weight: 700;
     }

     .blue {
         background-color: #3498db;
     }

     .green {
         background-color: #16a085;
     }

     .red {
         background-color: #e74c3c;
     }

     .purple {
         background-color: #886dce;
     }

     .orange {
         background-color: #feaa12
     }



     @media screen and (max-width: 576px) {

         .rwd-table th,
         .rwd-table td {
             color: #000;
         }

         .rwd-table th,
         .rwd-table td:before {
             color: #333;
             font-size: 15px;
         }
     }